<div class="card shadow-sm">
    <div class="card-body">
        <a type="button" class="close" aria-label="Close"
            href="/credential/{{ credential.connection_id }}/remove?state={{ credential.state }}">
            <span aria-hidden="true">&times;</span>
        </a>

        <div class="card-title">
            <small>
                 <span>cred_ex_id&nbsp;</span>
            </small>
            <small class="text-muted">{{ credential.cred_ex_record.cred_ex_id  }}</small>
        </div>
         <div class="card-text">
            <span>
 
                <small class="text-muted">Schema id :&nbsp;</small>
      
            </span>
            <span>{{ credential.cred_ex_record.by_format.cred_issue.indy.schema_id   }}</span>
        </div>
        <div class="card-text">
        <div class="card-text">
            <span>
 
                <small class="text-muted">Cred def :&nbsp;</small>
      
            </span>
            <span>{{ credential.cred_ex_record.by_format.cred_issue.indy.cred_def_id  }}</span>
        </div>
        <div class="card-text">
            <span>
                        {{#each credential.cred_ex_record.by_format.cred_issue.indy.values}}
                <small class="text-muted"> Values :</small>&nbsp;
                     {{@key}}  :   {{raw}} 
            </span>
            
        {{/each}}
        </div>
    </div>
    <div class="card-footer">
        <p class="card-text">
            <small class="text-muted">Last updated {{ credential.cred_ex_record.created_at }}</small>
        </p>
    </div>
</div>