<div class="card shadow-sm">
    <div class="card-body">
            <a type="button" class="close" aria-label="Close"
            href="/proofs/{{ proof.pres_ex_id }}/remove">
            <span aria-hidden="true">&times;</span>
        </a>
        <div class="card-title">
            <h5>
                <span>{{ proof.presentation_request.name }}</span>
                <span
                    *ngIf="proof?.presentation_request?.version">&nbsp;({{ proof.presentation_request.version }})</span>
            </h5>
            <small>
             <span>created_at</span>
            </small>
            <small class="text-muted">{{ proof.created_at }}</small>
        </div>
        <div class="card-text">
            <div>
                <small class="text-muted">Presentation Exchange ID:&nbsp;</small>
                <p>{{ proof.pres_ex_id  }}</p>
            </div>
                <div>
                <small class="text-muted">state :&nbsp;</small>
                <p>{{ proof.state  }}</p>
            </div>
            {{#eq proof.verified 'true'}}
            <div>
                <span>
                    <i class="fas fa-check"></i>
                </span>
                &nbsp;
                <span>Verified</span>
            </div>
            {{/eq}}
        </div>
    </div>
    <div class="card-footer d-flex">
        <p class="card-text d-inline-block mr-auto align-items-center">
            <small class="text-muted">Updated at {{ proof.updated_at }}</small>
        </p>
              <button class="btn btn-primary btn-sm d-inline-block" onclick="seeDetails()">See details</button>
    </div>
</div>